.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  top: 70px;
  right: 35px;
  z-index: 5;

  .cart-items {
    height: 3000px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cart-dropdown-button {
    text-align: center;
  }

  button {
    margin: auto;
    background-color: #04d6d6;

    &:hover {
      background-color: #04d6d6;
    }
  }
}

@media screen and (max-width: 480px) {
  .cart-dropdown {
    height: 520px;
    width: 90%;
    right: 18px;
  }
}
