.header {
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
  
    .logo-container {
      height: 100%;
      width: 70px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        font-weight: bold;
        padding: 10px 15px;
        cursor: pointer;
        margin: 5px;
        border: solid 1px lightblue;
          border-radius:20px;
        
        &:hover{
          border: solid 1px black;
          border-radius:20px;
          transition: border 1s;
        }
      }
  }
}
  
  .present-user{
      display: flex;
  }
  