body {
  background-image: linear-gradient(180deg, #03fcd7, lightblue);
  padding: 20px 70px;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.hr-line {
  width: 100%;
  padding: 1px;
  margin: 0px 0px 0px 0px;
  background-color: black;
}
