body {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

.hr-line {
  margin: auto;
  width: 90%;
  padding: 1px;
  margin-bottom: 30px;
  background-color: white;
}
